body {
    background-color: red;
}

.card {
    margin: 5% auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

#quote {
    height: 100px;
}

.end-content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.end-content > button {
    border-radius: 5px;
    padding: 5px 10px;
}