nav {
    text-align: start;
}

nav * {
    margin: 0;
}

nav div {
    padding-left: 10px;
}

nav div:first-child {
    background-color: red;
}

.scores {
    text-align: right;
}

.scores span {
    margin: 5px;
}